<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Định Hướng Nghề Nghiệp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Chào mừng đến với hệ thống định hướng nghề nghiệp</h1>
        <div class="options">
            <a href="/mini_test">Định hướng nghề nghiệp</a>
            <a href="/qa">Hỏi đáp cùng AI</a>
            <a href="/feedback">Hệ thống phản hồi và đánh giá</a>
        </div>
    </div>
</body>
</html>